/*
CASO FOR ADICIONAR UM ID UTILIZAR #
CASO FOR ADICIONAR UMA CLASS UTILIZAR .
CASO NÃO PRECISAR DE AMBOS ULTILIZAR NOME DA TAG (EX: BODY, MAIN, DIV...
CASO PRECISAR USAR A TAG DE DENTRO USE O NOME DA TAG EXTERNA E DEPOIS DA INTERNA (EX: DIV INPUT
*/

/* Importando fonte do Google fontes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Secular+One&display=swap'); /* Importando 2 fonts com uma URL, as fontes são: Kanit e Secular One */

* {
    margin: 0;
    padding: 0;
}


/* Alterando a cor do Body */
body {
    background-color: #25374B; /* Adicionando uma cor escura ao fundo */
}

/* Ateração do Menu Incial: Centralizando */
header{
    display: flex; /* Deixando o header flexível */
    justify-content: space-between; /* Adicionando um espaçamento sicronizado para o conteúdo do Header */
    align-items: center; /* Deixando o conteúdo alinhado no centro vertical */
    margin-top: 20px;
}

/* Alterando a imagem da lua (logo) */
#Lue {
    max-width: 70px; /* Alterando o tamanho da imagem */
    margin-left: 40px;
}

main{
    margin-top: 70px;
}

/* Alterações do título-amarelo */
#titulo-amarelo {
    color: #F2CA20; /* Alterando a cor para amarelo */
    width: 140%; /* Alterando a largura onde o título está */
    font-size: 70px; /* Alterando o tamanho da fonte */
    font-family: 'Kanit', sans-serif; /* Adicionando outra fonte */
    margin-left: 60px; /* Dando um espaçamento lateral (Esquerda) */
    margin-top: 30px; /* Dando um espaçamento no topo (Em cima) */
    
}

/* Alterando do título branco */
#titulo-branco {
    color: #ffffff ; /* Alterando a cor para branco */
    font-size: 60px; /* Alterando tamanho da fonte */
    width: 140%; /* Alterando a largura onde o título está */
    font-family: 'Secular One', sans-serif; /* Adicionando outra fonte */
    margin-left:60px; /* Dando um espaçamento lateral (Esquerda) */
    margin-top:-35px; /* Dando um espaçamento no topo (Em cima) */
    }

/* Alterando o texto */
#Subtitle {
    color: #ffffff ; /* Alterando a cor para branco */
    font-size: 20px; /* Alterando o tamanho da fonte */
    font-family: 'Secular One', sans-serif; /* Alterando a fonte */
    margin-left:-320px; /* Dando um espaçamento negativa na lateral (Esquerda) */
    margin-top:220px; /* Dando um espaçamento no topo (Em cima) */

}

/* Estilizando o menu */
ul {
    list-style: none; /* Retirando o estilo da lista ordenada (As bolinhas do lado da lista) */
    color: #ffffff; /* Ta,bém retirar o color pois também tem que alterar na tag a porque é a tag que irá aparecer */
    display: flex; /* Deixando a ul com o conteúdo flexível */
    font-family: 'Secular One', sans-serif; /* Alterando a fonte do menu */
    }

/* Espaçamento do menu */
li a {
    text-decoration: none;
    margin-right: 100px; /* Dando o espaçamento lateral (Direita) */
    color: white; /* Retirar a cor da li e adicionar na tag a */
}

/* Alterando os inputs */
#input-nome, #input-email {
    border-radius: 20px; /* Colocando as laterais do input arredondadas */
    border: none; /* Retirando a borda */
    outline: none; /* Retirando a linha quando é clicada */
    padding: 10px; /* Adicionando o espaçamento interno */
    margin: 8px; /* Adicionando o espaçamento externo */
    margin-left: 60px; /* Adicionando um espaçamento lateral (Esqueda) */
}

/* Alterando a div onde o input está localizado */
#input-div {
    display: flex; /* Deixando a div dos inputs flexível */
    flex-direction: column; /* Colocando os inputs em coluna */
    margin-top: -180px; /* Dando um espaçamento no topo (Em cima) */
}

/* Alterações do botão */
button {
    border-radius: 20px; /* Colocando as laterais do input arredondadas */
    border: none; /* Retirando a borda */
    outline: none; /* Retirando a linha quando é clicada */
    padding: 10px; /* Adicionando o espaçamento interno */
    margin-left: 60px; /* Dando um espaçamento lateral (Esquerda) */
    background-color: #F2CA20; /* Adicionando cor amarela de fundo */
    color: black; /* Alterando a cor do testo para a cor do fundo da página */
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    justify-content: center;
}

button img{
    max-width: 20px;
}

/* Alterações do conteúdo do texto */
#textos{
    display: flex; /* Alterando a div onde está conteúdo */
    justify-content: space-around; /* Espaçamento do conteúdo */
    
}
