#input-nome, #input-email {
background-color: azure;

}

body {
    background-color: #25374B;
}
 
#titulo-amarelo {
    color: goldenrod;
}

#titulo-branco, #Subtitle {
    color: whitesmoke ;
}

#Lue {
    max-width: 100px;

}

ul {
 list-style: none;
color: aliceblue;
display: flex;
justify-content: end;
}

li{
    margin-right: 100px;
}